*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    background: teal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    font-size: 1.7rem;
} 

#maindoc{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 150px auto;
    max-width: 40rem;
    background: rgba(0,0,0,  .3);
    padding: 5rem 3rem;
    border-radius: 1rem;
}
#first-section{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 100px auto;
    gap: 2rem;
    max-width: 40rem;
    background: rgba(0,0,0,  .3);
    padding:  3rem;
    border-radius: 1rem;
}
#second-section{
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 100px auto;
    gap: 2rem;
    max-width: 40rem;
    background: rgba(0,0,0,  .3);
    padding:  3rem;
    border-radius: 1rem;
}
label{
    
    font-size: 2rem;
    text-align: center;
}
button{
    background-color: chocolate;
    padding: 1rem 2.5rem;
    min-width: 10rem;
    border-radius: 1rem;
    color: bisque;
    transition-duration: 500ms;
    margin-bottom: 1rem;
}
button:hover{
    background-color: blanchedalmond;
    color: black;
    filter: saturate(.7);
}
.moveBtn{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,  .1);
}